[submodule "CleanNodeTree"]
	path = CleanNodeTree
	url = "https://github.com/Kryxzael/CleanNodeTree.git"
[submodule "SegmentedBarControl"]
	path = SegmentedBarControl
	url = "https://github.com/Kryxzael/SegmentedBarControl.git"
[submodule "CircleProgressControl"]
	path = CircleProgressControl
	url = https://github.com/Kryxzael/CircleProgressControl
[submodule "UserConsoleLib"]
	path = UserConsoleLib
	url = https://github.com/Kryxzael/UserConsoleLib
