[submodule "CleanNodeTree"]
	path = CleanNodeTree
	url = "https://github.com/Kryxzael/CleanNodeTree.git"
[submodule "SegmentedBarControl"]
	path = SegmentedBarControl
	url = "https://github.com/Kryxzael/SegmentedBarControl.git"
